*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

manager_bill/build/

manager_plan/build/

ui_bill/build/

ui_plan/build/

\.idea/
